@use '../variables';
@use '../breakpoints';

.tableHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem;
  background-color: rgb(240, 240, 240);
  border-radius: 20px 20px 0px 0px;
  top: 3.5rem;
  position: sticky;
  z-index: 1;

  @include breakpoints.mobileTabDevicewidth {
    z-index: 3;
  }

  & p {
    color: #000000;
    font-size: 1.2rem;
    font-weight: 600;
  }

  .headerActions {
    display: flex;
    gap: 1rem;

    @include breakpoints.mobileTabDevicewidth {
      flex-direction: column;
      width: 100%;
    }

    .select {
      font-weight: 600;
    }
  }

  .addPlayerBtn {
    outline: none;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    padding: 0.5rem;
    color: variables.$snow;
    font-size: 1rem;
    letter-spacing: 0.03rem;
    padding: 10px 20px;
    color: #ffffff;
    background-color: #0298cf;

    &:hover {
      border: 1px solid variables.$vivid;
      background-color: variables.$snow;
      color: #0298cf;
    }
  }
}
